<div class="container">
    <div>
    <h1 id="titleFont"><img src="/assets/images/burger.png" height="150" width="150"></img>
    BURGER UP!</h1>
    </div>
    <hr>
  <div class="row">
    <div class="col-sm-3 panel panel" id='addBurger'>
    <h3 class="menuFont">Create A Burger</h3>
    <form class="form-inline" action="/" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="burg" name="burger_name" placeholder="Enter Burger Name">
        </div>
        <br><br>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
    <div class="col-sm-3 panel panel" id='readyBurger'>
      <h3 class="menuFont">Burgers</h3>     
        {{#each burger}}
          {{#unless this.devoured}}           
            <li>      
                {{this.burger_name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button type="submit" class="btn btn-warning devourButton">Devour!</button>               
                </form>          
            </li>
          <br>
        {{/unless}}
        {{/each}}     
    </div>
    <div class="col-sm-3 panel panel" id='devouredBurger'>
      <h3 class="menuFont">Eaten</h3>
      <table class="table table-striped table-bordered">
        {{#each burger}}
          {{#if this.devoured}}
            <tr>
              <td>
                {{this.burger_name}}
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </table>
      <br>
    </div>
  </div>
</div>
